@inherits LayoutComponentBase

<nav class="navbar">
    <ul class="navbar-left">
        <li><a href="">CinemaNova</a></li>
    </ul>
    <ul class="navbar-right">
        <li><a href="film">Film</a></li>
        <li><a href="programma">Programma</a></li>
        <li><a href="biglietti">Biglietti</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contatti">Contatti</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>

@* Navbar Dipendenti *@

@* <nav class="navbar"> *@
@*     <ul class="navbar-left"> *@
@*         <li><a href="">Dipendenti CinemaNova</a></li> *@
@*     </ul> *@
@*     <ul class="navbar-right"> *@
@*         <li><a href="gestione-programma">Edit Programma Db</a></li> *@
@*         <li><a href="gestione-film">Edit Film db e api</a></li> *@
@*     </ul> *@
@* </nav> *@

<main>
    <article>
        @Body
    </article>
</main>

<footer> &copy; 2025 Cinema CineNova - Tutti i diritti riservati </footer>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />