.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(243, 242, 243);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.logo{
    height:70px;
    width:160px;
    margin-left: 30px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.navbar-left, .navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-left li, .navbar-right li {
    margin: 0 0.5rem;
    padding: 1em;
}
.navbar-left li a, .navbar-right li a {
    color: #1c1c1c;
    text-decoration: none;
}
.navbar-right li a:hover, .navbar-left li a:hover {
    color: #ff6a00;
}
.navbar-left li a {
    font-weight: 600;
}
.navbar-left a {
    font-size: 1.5em;
}
article{
    padding: 0;
    margin:0;
}
footer {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    color: #888;
    width: 100%;
}