@page "/film"
@rendermode InteractiveServer

<PageTitle>Film</PageTitle>



<section class="section-cards">
    <h2 class="title">Catalogo dei film disponibili:</h2>
    <div class="card-group">
        <div class="container-card">
            <MudCard>
                <MudCardMedia Image="data/poster_flow.jpg" Height="700"/>
                <MudCardContent>
                    <p>dal 7 Novembre 2024</p>
                    <h2>Flow</h2>
                    <p>Breve descrizione</p>
                </MudCardContent>
                <MudCardActions>
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton> *@
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton> *@
                </MudCardActions>
            </MudCard>
        </div>
        <div class="container-card">
            <MudCard>
                <MudCardMedia Image="data/poster_snowwhite.jpg" Height="700"/>
                <MudCardContent>
                    <p>dal 20 Marzo 2025</p>
                    <h2>Biancaneve</h2>
                    <p>Breve descrizione</p>
                </MudCardContent>
                <MudCardActions>
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton> *@
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton> *@
                </MudCardActions>
            </MudCard>
        </div>
        <div class="container-card">
            <MudCard>
                <MudCardMedia Image="data/poster_minecraft.jpg" Height="700"/>
                <MudCardContent>
                    <p>dal 3 Aprile 2025</p>
                    <h2>Un Film Minecraft</h2>
                    <p>Breve descrizione</p>
                </MudCardContent>
                <MudCardActions>
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton> *@
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton> *@
                </MudCardActions>
            </MudCard>
        </div>
        <div class="container-card">
            <MudCard>
                <MudCardMedia Image="data/poster_sinners.jpg" Height="700"/>
                <MudCardContent>
                    <p>dal 17 Aprile 2025</p>
                    <h2>Sinners</h2>
                    <p>Breve descrizione</p>
                </MudCardContent>
                <MudCardActions>
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton> *@
                    @* <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton> *@
                </MudCardActions>
            </MudCard>
        </div>
    </div>


</section>