body{
    font-family: 'Inter', sans-serif;
    color: #191919;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #171717FF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.logo{
    height:60px;
    width:145px;
    margin-left: 30px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.navbar-left, .navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-left li, .navbar-right li {
    margin: 0 0.5rem;
    padding: 1em;
}
article{
    padding: 0;
    margin:0;
}
footer {
    text-align: center;
    padding: 2rem;
    background-color: #171717FF;
    color: #888;
    width: 100%;
}

::deep .active {
    color: #bfbfbf !important;
    font-weight: bold;
    border-bottom: 3px solid #bfbfbf;
}


::deep .navlink-left {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #ffffff;
    text-decoration: none;
}

::deep .navlink-right {
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

::deep .navlink-right:hover {
    color: #bfbfbf;
}

