.navbar[b-344ttqj0ko] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(243, 242, 243);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #191919;
}
.navbar-left[b-344ttqj0ko], .navbar-right[b-344ttqj0ko] {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-left li[b-344ttqj0ko], .navbar-right li[b-344ttqj0ko] {
    margin: 0 0.5rem;
    padding: 1em;
}
.navbar-left li a[b-344ttqj0ko], .navbar-right li a[b-344ttqj0ko] {
    color: #1c1c1c;
    text-decoration: none;
}
.navbar-right li a:hover[b-344ttqj0ko], .navbar-left li a:hover[b-344ttqj0ko] {
    color: #ff6a00;
}
.navbar-left li a[b-344ttqj0ko] {
    font-weight: 600;
}
.navbar-left a[b-344ttqj0ko] {
    font-size: 1.5em;
}
article[b-344ttqj0ko]{
    padding: 0;
    margin:0;
}
footer[b-344ttqj0ko] {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    color: #888;
    width: 100%;
}